        <div class="row team-info">
            <div class="col-md-3">
                <h3><b>Mike Ross</b></h3>
                <p class="w3-opacity">(Architect)</p>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque
                    elementum.</p>
                <!--<p>
                    <button class="mat-raised-button btn-lg">Contact</button>
                </p>-->
            </div>
            <div class="col-md-3">
                <h3><b>Dan Star</b></h3>
                <p class="w3-opacity">(Architect)</p>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque
                    elementum.</p>
                <!--<p>
                    <button class="mat-raised-button btn-lg">Contact</button>
                </p>-->
            </div>
        </div>
